@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat&family=Sacramento&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    color: #40514E ;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4.62rem;
    font-family: 'Sacramento', cursive;
    margin-top: 3.1rem;
    color: #58b9b9;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: bold;
    margin: 25px 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
    padding: 18px 0 ;
}
p{
    font-weight: bold;
    line-height: 2;
}

hr{
    border-top: 4px dotted #b7bbbb;
    width: 36px;
    margin: auto
}
.pro{
    font-weight: bold;
    text-decoration: underline;
}

.top-container{
    background-color: #a4f1f1;
    padding-top: 100px;

}


.top-container h2{
    margin-bottom: 50px;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 380px;
}

.bottom-cloud{
    position: absolute;
    top: 320px;
    left: 380px;

}



.profile{
    margin: 100px auto;
    width: 30%;
    text-align: center;
}
.profile-img{
    width: 8rem;
    /* border-radius: 8px; */
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}


.team-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}


.startup-img{
    width: 25%;
    float: right;
    margin-right: 30px;
    border-radius: 50%;
    
}

.contact-me{
    margin: 100px auto;
}

.connect{
    margin: 0px auto 60px;
}

.btn {
    
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    margin: 50px auto;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 80px 0;
}
.footer-link{
    color: #0c8286;
    text-decoration: none;
    margin: 20px 20px;
}

.copy-right{
    color:#EAF6F6 ;
    margin: 30px auto;
    font-size: 0.75rem;
}